version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    open-pull-requests-limit: 10
    groups:
      minor-patch-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "monthly"
      time: "06:00"
      timezone: "America/New_York"
    target-branch: "main"
    labels:
      - "dependency"
      - "gradle"
    commit-message:
      prefix: "[CORE-69]"
    ignore:
      - dependency-name: "org.liquibase:liquibase-core"
        versions:
          - "5.x"
      # See CTM-289
      - dependency-name: "org.springframework.boot:*"
        versions: [ ">=4.0.0" ]
